:root {
  --preto-bass: #1B1B1B;
  --laranja-vintage: #F26B3A;
  --verde-bass: #5FBF74;
  --bege-analogico: #F6E0B3;

  --texto-claro: #FFFFFF;
  --texto-suave: #DADADA;
}





html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


* {
  box-sizing: border-box;
}